<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:hhopen="http://typo3.org/ns/HauerHeinrich/HhOpenstreetmap/ViewHelpers"
    data-namespace-typo3-fluid="true">

<div id="o{data.uid}" class="openstreetmap">
    <f:if condition="{data.header} && {data.header_layout}">
        <header>
            <f:switch expression="{data.header_layout}">
                <f:case value="1"><h1>{data.header}</h1></f:case>
                <f:case value="2"><h2>{data.header}</h2></f:case>
                <f:case value="3"><h3>{data.header}</h3></f:case>
                <f:case value="4"><h4>{data.header}</h4></f:case>
                <f:case value="5"><h5>{data.header}</h5></f:case>
                <f:case value="6"><h6>{data.header}</h6></f:case>
                <f:defaultCase><h3>{data.header}</h3></f:defaultCase>
            </f:switch>
        </header>
    </f:if>

    <style>
        .osm-map { height: <f:format.number decimals="0">{data.tx_hh_openstreetmap_height_desktop}</f:format.number>px; }
        @media screen and (max-width: 1000px) {
            .osm-map { height: <f:format.number decimals="0">{data.tx_hh_openstreetmap_height_tablet}</f:format.number>px; }
        }
        @media screen and (max-width: 500px) {
            .osm-map { height: <f:format.number decimals="0">{data.tx_hh_openstreetmap_height_mobile}</f:format.number>px; }
        }
    </style>

    <div id="map-{data.uid}" class="osm-map" style="width: 100%;"></div>

    <script type="application/json" class="jsonMap">
        {<f:comment></f:comment>
            "zoom": "{data.tx_hh_openstreetmap_zoom}",
            "lat": "{data.tx_hh_openstreetmap_map_lat}",
            "long": "{data.tx_hh_openstreetmap_map_long}",
            "fitmarkers": "{data.tx_hh_openstreetmap_map_fit}",
            "scrollWheelZoom": "{data.tx_hh_openstreetmap_options_scrollWheelZoom}",
            "markerIconPath": "{settings.markerIconPath}",
            "markers": [
                <f:for each="{data_tx_hh_openstreetmap_marker}" as="marker" iteration="i">
                {
                    "text": "<hhopen:rmLineBreaks><hhopen:escapeJson><f:format.html>{marker.data.tx_hh_openstreetmap_marker_text}</f:format.html></hhopen:escapeJson></hhopen:rmLineBreaks>",
                    "lat": "{marker.data.tx_hh_openstreetmap_marker_lat}",
                    "long": "{marker.data.tx_hh_openstreetmap_marker_long}",
                    "icon": "{marker.data.tx_hh_openstreetmap_marker_icon}",
                    "openOnStart": "{marker.data.tx_hh_openstreetmap_marker_openonstart}"
                }<f:if condition="{i.isLast}"><f:then></f:then><f:else>,</f:else></f:if>
                </f:for>
            ]
        }
    </script>
</div>

</html>
