<div id="c{uid}" class="hh-openstreetmap">
    <f:if condition="{bodytext}">
        <div class="ce-bodytext">
            <f:transform.html><f:format.crop maxCharacters="100" respectHtml="1" respectWordBoundaries="1">{bodytext}</f:format.crop></f:transform.html>
        </div>
    </f:if>

    <dl class="options" style="font-size: 70%;">
        <dt>Markers</dt>
        <dd>{tx_hh_openstreetmap_marker}</dd>

        <dt><f:translate key="LLL:EXT:hh_openstreetmap/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hh_openstreetmap_zoom" /></dt>
        <dd>{tx_hh_openstreetmap_zoom}</dd>

        <dt><f:translate key="LLL:EXT:hh_openstreetmap/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hh_openstreetmap_options_scrollWheelZoom" /></dt>
        <dd>{tx_hh_openstreetmap_options_scrollWheelZoom}</dd>

        <f:if condition="{tx_hh_openstreetmap_map_fit}">
            <f:then>
                <dt><f:translate key="LLL:EXT:hh_openstreetmap/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hh_openstreetmap_map_fit" /></dt>
                <dd>{tx_hh_openstreetmap_map_fit}</dd>
            </f:then>
            <f:else>
                <f:if condition="{tx_hh_openstreetmap_map_lat} && {tx_hh_openstreetmap_map_long}">
                    <f:then>
                        <dt><f:translate key="LLL:EXT:hh_openstreetmap/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hh_openstreetmap_map_lat" /></dt>
                        <dd>{tx_hh_openstreetmap_map_lat}</dd>

                        <dt><f:translate key="LLL:EXT:hh_openstreetmap/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hh_openstreetmap_map_long" /></dt>
                        <dd>{tx_hh_openstreetmap_map_long}</dd>
                    </f:then>
                    <f:else>
                        <dt>Center map position</dt>
                        <dd>Used from first marker.</dd>
                    </f:else>
                </f:if>
            </f:else>
        </f:if>
    </dl>
</div>
