@import url('leaflet.css');

.hh-openstreetmap {
    container-type: inline-size;
    container-name: hh-openstreetmap;
}

.osm-map {
    height: var(--osm-map-height-mobile, 50cqw);
    min-height: 100px;
}

@container hh-openstreetmap (min-width: 700px) {
    .osm-map {
        height: var(--osm-map-height-tablet, 50cqw);
    }
}
@container hh-openstreetmap (min-width: 1200px) {
    .osm-map {
        height: var(--osm-map-height-desktop, 50cqw);
    }
}
